.HeaderWrap {
    display: flex;
}

.HeaderItem {
    text-align: center;
    border: 1px solid black;
}

.BodyWrap {
    width: 100%;
    position: relative;
}

.BodyHistogram {
    height: 8px;
    margin-bottom: 2px;
}
